* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

// Colores

$bg-azul: #007BFD;

$bg-azulclaro: #d8f3f5;

$bg-rojo: #ad2828;

$bg-rojoclaro: #ed7c7c;


//FUENTES 

$roboto: "Roboto", sans-serif;


@mixin tablet {
    @media (min-width: 768px) and (max-width: 991px) {
        @content
    }
} 

@mixin desktop {
    @media (min-width: 992px) {
        @content
    }
}