.card-section {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    flex: 0 0 auto;
    div {
    min-width: 50%;
    text-align: center;
    }
    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
        max-width: 100%;
        min-width: 50%;
        
    }
}